<router-outlet></router-outlet>
<!DOCTYPE html>
<html>

   <head>
      <title>HTML Layouts using DIV, SPAN</title>
   </head>

   <body>
      <div style = "width:100%">
		
         <div style = "background-color:#b5dcb3; width:100%"> 
         </div>
			
         <div style = "background-color:#aaa; height:200px; width:100px; float:left;">
             
         </div>
			
         <div style = "background-color:#eee; height:200px; width:350px; float:left;" > 
         </div>
		
         <div style = "background-color:#aaa; height:200px; width:800px; float:right;"> 
            <fieldset id="parentDiv">
              <div id="childDiv"> 
                <app-product></app-product>
              </div>
            </fieldset>
            
         </div>
			
         <div style = "background-color:#b5dcb3; clear:both">
           
         </div>
			
      </div>
   </body>

</html>