<div class="d-flex flex-row mb-3">
    <div class="p-2"><button type="button" class="btn btn-light">Historial</button></div>
    <div class="p-2">Flex item 2</div>
    <div class="p-2">Flex item 3</div>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre del Product</th>
        <th scope="col">Marca</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad en Inventario</th>
        <th scope="col">Cantidad en Estante </th> 
        <th scope="col">Fecha de Ingreso</th>
        <th scope="col">Condición</th> 
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Cocacola</td>
        <td>Cocacola</td>
        <td>100.00</td>
        <td>100</td>
        <td>100</td>
        <td>Septiembre 08, 2022</td>
        <td><span class="badge rounded-pill text-bg-success">Bueno</span></td>
      </tr> 
    </tbody>
</table> 